streamlit==1.36.0
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

ultralytics==8.2.34
efficientnet_pytorch==0.7.1
pillow==10.3.0
opencv-python-headless==4.8.0.76
requests==2.32.3
